@font-face {
  font-family: "Shabnam";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Shabnam.woff2") format("woff2"),
      url("../fonts/Shabnam.woff") format("woff");
}

@font-face {
  font-family: "Shabnam";
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Shabnam-Medium.woff2") format("woff2"),
      url("../fonts/Shabnam-Medium.woff") format("woff");
}
