/* Utilities - These things get used a lot */

/**
 Hides stuff
 */
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/**
 Creates a responsive wrapper that makes our content scale nicely
 */
.inner {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

/**
 Centres vertically yo. (IE8+)
 */
.vertical {
    display: table-cell;
    vertical-align: middle;
}

/**
 Floating tools
 */
.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}