<div class="menu-item-card{{ if or .Params.special .Params.Special }} is-special{{ end }}">
	{{ if .Params.Image }}
	<div class="menu-item-img-wrapper">
		<img class="menu-item-image" src="{{ .Params.Image | relURL }}" alt="{{ or .Params.Name_fa .Title }}" loading="lazy" />
		{{ if or .Params.vegan .Params.Vegan }}
		<span class="badge-vegan">🌱 {{ if in $.Language "en" }}Vegan{{ else if in $.Language "ar" }}نباتي{{ else }}گیاهی{{ end }}</span>
		{{ end }}
		{{ if or .Params.special .Params.Special }}
		<span class="badge-special-pill" title="{{ if in $.Language "en" }}Special{{ else if in $.Language "ar" }}مميّز{{ else }}ویژه{{ end }}"><i class="fa fa-star"></i></span>
		{{ end }}
	</div>
	{{ end }}

	<div class="menu-item-info">
		<div class="menu-item-header">
			<div class="menu-item-title-group">
				<h3 class="menu-item-title">
					{{ if in $.Language "en" }}
						{{ or .Params.Name_en .Params.Name_fa .Title }}
					{{ else if in $.Language "ar" }}
						{{ or .Params.Name_ar .Params.Name_fa .Title }}
					{{ else }}
						{{ or .Params.Name_fa .Title }}
					{{ end }}
				</h3>
				{{ if or .Params.special .Params.Special }}
				<span class="badge-special-mini" title="{{ if in $.Language "en" }}Special{{ else if in $.Language "ar" }}مميّز{{ else }}ویژه{{ end }}"><i class="fa fa-star"></i></span>
				{{ end }}
			</div>

			{{ if .Params.Price }}
			<div class="menu-item-price">
				{{ if in $.Language "en" }}
					<span class="price-val">{{ .Params.Price }}</span>
					<span class="price-unit">Toman</span>
				{{ else if in $.Language "ar" }}
					<span class="price-val">{{ .Params.Price }}</span>
					<span class="price-unit">تمن</span>
				{{ else }}
					<span class="price-val">{{ partial "persianNumber.html" .Params.Price }}</span>
					<span class="price-unit">تومان</span>
				{{ end }}
			</div>
			{{ end }}
		</div>

		{{ $desc := "" }}
		{{ if in $.Language "en" }}
			{{ $desc = or .Params.Description_en .Params.Description_fa }}
		{{ else if in $.Language "ar" }}
			{{ $desc = or .Params.Description_ar .Params.Description_fa }}
		{{ else }}
			{{ $desc = .Params.Description_fa }}
		{{ end }}
		{{ with $desc }}
		<p class="menu-item-description">{{ . }}</p>
		{{ end }}

		{{ $ingredients := slice }}
		{{ if in $.Language "en" }}
			{{ $ingredients = .Params.Ingredients_en }}
		{{ else if in $.Language "ar" }}
			{{ $ingredients = .Params.Ingredients_ar }}
		{{ else }}
			{{ $ingredients = .Params.Ingredients_fa }}
		{{ end }}

		{{ if and $ingredients (gt (len $ingredients) 0) }}
		<div class="menu-item-ingredients">
			<!-- <span class="ingredients-label">{{ if in $.Language "en" }}Ingredients:{{ else if in $.Language "ar" }}المكونات:{{ else }}مواد تشکیل‌دهنده:{{ end }}</span> -->
			<div class="ingredients-tags">
				{{ range $ingredients }}
					<span class="ingredient-tag">{{ . }}</span>
				{{ end }}
			</div>
		</div>
		{{ end }}
	</div>
</div>